.boxone{
    width: 95%;
    height: 170px;
    margin: 10px auto;
    padding: 25px;
    border: 1px solid black;
    border-radius: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(135deg, #f7c300, #6a1b9a, #00bcd4); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;}
            
.headertext
{
    color: white;
    text-shadow:0 4px 8px rgba(0, 0, 0, 0.3) ;
    display: flex;
    justify-content:center;}

.headerD{
    color: white;
    display: flex;
    justify-content:center;}

.boxpremiere{
    margin-top: 90px;
    height: 130px;
    width: 550px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, #9300D1, #A900D9);
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.3);
    text-align: center;

}
.premieretext
{
    color: white;
    text-shadow:0 4px 8px rgba(0, 0, 0, 0.3) ;
    display: flex;
    justify-content:center;}

.premiererD
    {
        color: white;
        display: flex;
        justify-content:center;}


.boxAfterEffects{
    margin-top: 55px;
    height: 130px;
    width: 550px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, #4431b6, #981DFB);
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.3);}

    .AfterEffectstext
    {
        color: white;
        text-shadow:0 4px 8px rgba(0, 0, 0, 0.3) ;
        display: flex;
        justify-content:center;}
    
    .AfterEffectsD
        {
            color: white;
            display: flex;
            justify-content:center;}

.boxPhotoshop{
    margin-top: 55px;
    height: 130px;
    width: 550px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, #007eff, #00CBFF);
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.3);}
            
    .Photoshoptext
    {
        color: white;
        text-shadow:0 4px 8px rgba(0, 0, 0, 0.3) ;
        display: flex;
        justify-content:center;}
                
    .PhotoshopD
        {
            color: white;
            display: flex;
            justify-content:center;}


.boxIllustrator{
    margin-top: 55px;
    height: 130px;
    width: 550px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, #FF8400, #ffb000);
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.3);}
            
    .Illustratortext
    {
        color: white;
        text-shadow:0 4px 8px rgba(0, 0, 0, 0.3) ;
        display: flex;
        justify-content:center;}
                
    .IllustratorD
        {
            color: white;
            display: flex;
            justify-content:center;}

.Bboxone{
    margin-top: 95px;
    width: 100%;
    height: 750px;
    background-color: #00CBFF;
    border-radius: 20px;
}
.BoneD{
    margin-top: 290px;
    margin-left: 165px;
    margin-right: 50px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow:0 4px 8px rgba(255, 255, 255, 0.3) ;
    display: flex;
    justify-content:center;
    text-align:center;
width: 1170px;
}




