.boxone{
    width: 95%;
            height: 170px;
            margin: 10px auto;
            padding: 25px;
            border: 1px solid black;
            border-radius: 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background: linear-gradient(135deg, #f7c300, #6a1b9a, #00bcd4); /* Yellow, Purple, Blue Gradient */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            position: relative;
            overflow: hidden;}
